<IfModule mod_rewrite.c>
	Options +FollowSymLinks -MultiViews

	###############################
	# Deny access to /app directory
	###############################
	RewriteEngine On
	RewriteCond %{THE_REQUEST} /app/ [NC]
	RewriteRule ^ - [F]

	###############################
	# Deny access to /src directory
	###############################
	RewriteEngine On
	RewriteCond %{THE_REQUEST} /public/ [NC]
	RewriteRule ^ - [F]

	################################
	# Deny access to /core directory
	################################
	RewriteEngine On
	RewriteCond %{THE_REQUEST} /core/ [NC]
	RewriteRule ^ - [F]		

	####################################
	# Deny access to /autoload directory
	####################################
	RewriteEngine On
	RewriteCond %{THE_REQUEST} /autoload/ [NC]
	RewriteRule ^ - [F]

	##############################################
	# Deny access to /public/controllers directory
	##############################################
	RewriteEngine On
	RewriteCond %{THE_REQUEST} /public/controllers/ [NC]
	RewriteRule ^ - [F]

	#########################################
	# Deny access to /public/models directory
	#########################################
	RewriteEngine On
	RewriteCond %{THE_REQUEST} /public/models/ [NC]
	RewriteRule ^ - [F]

	############################################
	# Deny access to /public/templates directory
	############################################
	RewriteEngine On
	RewriteCond %{THE_REQUEST} /public/templates/ [NC]
	RewriteRule ^ - [F]

	#############################################
	# Deny access to /public/components directory
	#############################################
	RewriteEngine On
	RewriteCond %{THE_REQUEST} /public/components/ [NC]
	RewriteRule ^ - [F]

	#########################################
	# Deny access to /public/blocks directory
	#########################################
	RewriteEngine On
	RewriteCond %{THE_REQUEST} /public/blocks/ [NC]
	RewriteRule ^ - [F]

	#########################################
	# Deny access to /public/config directory
	#########################################
	RewriteEngine On
	RewriteCond %{THE_REQUEST} /public/config/ [NC]
	RewriteRule ^ - [F]

	############################################
	# Deny access to /public/listeners directory
	############################################
	RewriteEngine On
	RewriteCond %{THE_REQUEST} /public/listeners/ [NC]
	RewriteRule ^ - [F]

	##########################################
	# Deny access to /public/layouts directory
	##########################################
	RewriteEngine On
	RewriteCond %{THE_REQUEST} /public/layouts/ [NC]
	RewriteRule ^ - [F]

	##########################################
	# Changes path /public/assets/css to /css/
	##########################################
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^css/(.*\.css)$ public/assets/css/$1 [L]

	########################################
	# Changes path /public/assets/js to /js/
	########################################
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^js/(.*\.js)$ public/assets/js/$1 [L]

	#############################################
	# Changes path /public/assets/img to /images/
	#############################################
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^images/(.*\.(jpg|gif|png|ico))$ public/assets/img/$1 [L]	

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?=$1 [QSA,L]
</IfModule>